<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>Raumliste</title>
    <link rel="stylesheet" href="css/allgemein.css">
    <link rel="stylesheet" href="css/liste.css">
</head>

<body>
<%- include("header&navi.ejs") %>
<main>
    <table>
        <thead>
        <th>
            <label>Student/in</label>
        </th>
        <th class="tableFach">
            <label>Fach</label>
        </th>
        <th class="tableWochentag">
            <label>Wochentag</label>
        </th>
        </thead>
        <tbody>
        <% for (einheit of einheiten){ %>
        <tr class="tr">
            <td><a href="/detailseite?id=<%= einheit.id %>"><%= einheit.id %>. <%= einheit.student %></a></td>
            <td class="tableFach"><label><%= einheit.fach %></label></td>
            <td class="tableWochentag"><label><%= einheit.wochentag %></label></td>
        </tr>
        <% } %>
        </tbody>
    </table>
</main>
<%- include("aside&footer") %>
</body>

</html>