<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Raumliste</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/flexbox.css">
</head>

<body>
<%-include("header&navi.ejs")%>
    <div>
        <div>

            <main>
                <ul>
                    <% for (einheit of einheiten){ %>
                         <li>
                              <a href="/detailseite?id=<%=einheit.id%>"><%= einheit.id%>. <%= einheit.student%></a>
                              <label><%= einheit.fach%></label>
                             <label><%= einheit.wochentag%></label>
                        </li>
                     <%  }%>
                </ul>
            </main>
        </div>
        <%-include("aside")%>
        </div>
        <%-include("footer")%>
</body>

</html>